* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

header {
    height: 400px;
    background-color: #1f2937;
    padding: 10px 150px;
    color: white;
}

nav, 
.intro-container, 
.intro,
.intro-text,
.intro-img,
.links,
.cards,
.quotation,
.quotation>div,
.signup,
.signup-container,
.signup-button,
footer {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    font-size: 20px;
}

.links {
    font-size: 14px;
    font-weight: 300;
    gap: 20px;
}

.intro-container {
    height: 100%;
    align-items: center;
}

.intro {
    gap: 50px;
    height: 170px;
}

.intro-text {
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.intro-text > h1 {
    font-size: 40px;
    line-height: 35px;
}

.intro-text > p {
    font-size: 15px;
    font-weight: 100;
}

.intro-text button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
}

.intro-text button:hover {
    background-color: #74a7f8;
}

.intro-text button:active {
    background-color: #4e6a96;
}

.intro-img {
    width: auto;
    background-color: rgb(83, 81, 94);
    font-weight: 300;
    justify-content: center;
    align-items: center;
    flex: 1
}

/* INFO */

.info {
    height: 280px;
}

.info > h2 {
    text-align: center;
    margin: 30px 0;
}

.cards {
    justify-content: space-around;
    margin: 0 150px ;
}

.card {
    width: 100px;
}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

.card-p {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
}

/* QUOTATION */

.quotation {
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #e5e7eb;
}

.quotation > div {
    flex-direction: column;
    align-items: flex-end;
    max-width: 450px;
}

.quotation p {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

/* SIGN UP */

.signup {
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}

.signup-container {
    background-color: #3882f6;
    color: white;
    padding: 40px;
    flex: 1;
    border-radius: 5px;
    justify-content: space-around;
}

.signup-button {
    align-items: flex-end;
}

.signup-container button {
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #3882f6;
}

.signup-container button:hover {
    background-color: #74a7f8;
}

.signup-container button:active {
    background-color: #4e6a96;
}

.signup span {
    font-size: 14;
    font-weight: 100;
}

/* FOOTER */

footer {
    color: rgb(193, 193, 193);
    font-weight: 100;
    height: 100px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}


